<%- include("partials/header") %>
<div class="jumbotron">
    <h1>Welcome to the notes app</h1>
    <p>Welcome to notes, create an account to take advantage of this dynamic note taking application</p>
    <a href="/notes" class="btn btn-primary">Notes</a>
</div>

<%- include("partials/footer") %>